/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
*:focus {
  outline: none !important; }

html {
  overflow-x: hidden; }

body {
  padding: 0;
  margin: 0;
  background-color: #1E1D21;
  color: #fff;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif; }

button:hover {
  cursor: pointer; }

#main {
  max-width: 1900px;
  margin: 0 auto; }

#presentation {
  width: 100%;
  height: 667px;
  background-image: url(../img/massa-mobile.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: relative; }
  #presentation #branding {
    display: block;
    margin: 0 auto;
    text-align: center; }
    #presentation #branding img {
      width: 100%; }
  #presentation #branding-desktop {
    display: none; }
  #presentation #disclaimer {
    font-size: 7px;
    top: 42%;
    right: 5px;
    color: #1E1D21;
    position: absolute;
    transform: rotate(90deg);
    transform-origin: right top 0; }

/* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */
#product-carousel {
  margin-top: -90px; }
  #product-carousel .slick-list {
    padding-left: 9.666666666666668% !important; }
  #product-carousel .slick-slide {
    height: 500px;
    position: relative;
    padding-top: 150px;
    -webkit-transition: top 2s;
    /* Safari */
    transition: top 2s;
    transition-timing-function: ease-in; }
    #product-carousel .slick-slide img {
      position: absolute;
      top: 0;
      left: 2px;
      min-width: calc(100% -30px);
      z-index: 3; }
    #product-carousel .slick-slide .content {
      border-radius: 5px;
      padding: 70px 20px;
      max-width: 304px;
      min-width: 200px;
      height: 340px; }
      #product-carousel .slick-slide .content h1 {
        font-size: 20px;
        text-align: center;
        font-weight: bold;
        margin-bottom: 20px;
        font-family: "Rubik"; }
      #product-carousel .slick-slide .content p {
        font-size: 16px;
        text-align: center; }
      #product-carousel .slick-slide .content button {
        text-decoration: underline;
        margin: 0 auto;
        display: block;
        background-color: transparent;
        outline: none;
        border: none;
        box-shadow: none;
        font-family: "Rubik"; }
    #product-carousel .slick-slide:nth-child(even) .content {
      background-color: #ffffff;
      color: #1E1D21; }
      #product-carousel .slick-slide:nth-child(even) .content button {
        color: #1E1D21; }
        #product-carousel .slick-slide:nth-child(even) .content button:hover {
          color: #1E1D21;
          text-decoration: underline; }
    #product-carousel .slick-slide:nth-child(odd) .content {
      background-color: #000000;
      color: #ffffff; }
      #product-carousel .slick-slide:nth-child(odd) .content button {
        color: #ffffff; }
        #product-carousel .slick-slide:nth-child(odd) .content button:hover {
          color: #ffffff;
          text-decoration: underline; }
    #product-carousel .slick-slide.slick-current {
      top: -20px; }
      #product-carousel .slick-slide.slick-current .content::before {
        display: block;
        position: absolute;
        width: 624px;
        height: 232px;
        top: 11px;
        left: -161px;
        content: ''; }
      #product-carousel .slick-slide.slick-current.laranja-chocolate .content::before {
        background-image: radial-gradient(#82260b, #00000000, #00000000); }
      #product-carousel .slick-slide.slick-current.chocolate-baunilha .content::before {
        background-image: radial-gradient(#641E0A, #00000000, #00000000); }
      #product-carousel .slick-slide.slick-current.delicia-morango .content::before {
        background-image: radial-gradient(#D8201F, #00000000, #00000000); }
      #product-carousel .slick-slide.slick-current.caramelo-nozes .content::before {
        background-image: radial-gradient(#C45A26, #00000000, #00000000); }
      #product-carousel .slick-slide.slick-current.pistache .content::before {
        background-image: radial-gradient(#829A2E, #00000000, #00000000); }
  #product-carousel .slick-dots li button:before {
    color: #fff !important; }
  #product-carousel .slick-prev, #product-carousel .slick-next {
    width: 37px;
    height: 37px;
    z-index: 300; }
    #product-carousel .slick-prev::before, #product-carousel .slick-next::before {
      display: none; }
  #product-carousel .slick-prev {
    background: url(../img/arrow-prev.svg) center center no-repeat;
    left: 4px; }
  #product-carousel .slick-next {
    background: url(../img/arrow-next.svg) center center no-repeat;
    right: 4px; }

/* MARKETING CONTENT
  -------------------------------------------------- */
/* Center align the text within the three columns below the carousel */
.marketing {
  background: url(../img/shadow-left.png) left -20px no-repeat;
  padding: 156px 30px 0 30px;
  position: relative; }
  .marketing .row::before {
    display: block;
    position: absolute;
    width: 100%;
    height: 550px;
    top: 500px;
    right: 0;
    content: '';
    background: url(../img/shadow-left.png) left -20px no-repeat;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH"; }
  .marketing .feature {
    text-align: center; }
    .marketing .feature.unico {
      margin-bottom: 210px; }
    .marketing .feature.inexplicavel {
      margin-bottom: 150px; }
    .marketing .feature h2 {
      background-image: url(../img/dialog.svg);
      font-size: 20px;
      padding: 10px 0 15px 0;
      margin-bottom: 50px;
      background-repeat: no-repeat;
      background-position: center center;
      font-family: "Rubik"; }
    .marketing .feature p {
      margin: 0 auto;
      max-width: 496px;
      text-align: center;
      display: block; }

footer.container {
  padding: 0;
  max-width: 100%; }

footer ul {
  list-style: none;
  margin: 0 0 40px 0;
  padding: 0; }
  footer ul li {
    text-align: center;
    margin-bottom: 20px; }
    footer ul li button {
      color: #D49817;
      font-weight: bold;
      font-size: 16px;
      background: none;
      border: none;
      box-shadow: none;
      outline: none; }
      footer ul li button:hover {
        color: #D49817;
        text-decoration: underline; }

footer img {
  display: block;
  margin: 0 auto; }

footer .copyright {
  background-color: #D49817;
  font-size: 14px;
  padding: 20px 10px;
  margin: 0; }

.modal {
  padding-right: 0px !important; }

#tabela-nutricional .modal-dialog {
  max-width: calc(100vw - 20px);
  margin: 20px auto 0px auto; }
  #tabela-nutricional .modal-dialog .modal-content {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #1E1D21;
    padding-bottom: 10px;
    margin: 50px auto 80px auto; }
    #tabela-nutricional .modal-dialog .modal-content .modal-header {
      position: relative;
      border: none;
      min-height: 84px; }
      #tabela-nutricional .modal-dialog .modal-content .modal-header button.close {
        position: absolute;
        top: -30px;
        right: 0px;
        opacity: 1; }
        #tabela-nutricional .modal-dialog .modal-content .modal-header button.close span {
          text-indent: -999999px;
          text-shadow: none;
          width: 16px;
          height: 16px;
          background: url(../img/icon-fechar.svg) center center no-repeat;
          opacity: 1;
          color: transparent;
          display: block;
          overflow: visible;
          position: relative; }
          #tabela-nutricional .modal-dialog .modal-content .modal-header button.close span::before {
            content: "Fechar";
            font-size: 12px;
            font-weight: lighter;
            color: #ffffff;
            display: block;
            position: absolute;
            right: 28px;
            top: 2px;
            width: auto;
            height: 18px;
            z-index: 999999;
            text-indent: initial; }
    #tabela-nutricional .modal-dialog .modal-content .modal-title {
      font-size: 20px;
      color: #1E1D21;
      font-weight: bold;
      text-align: center;
      width: 100%; }
      #tabela-nutricional .modal-dialog .modal-content .modal-title p {
        display: block;
        font-size: 14px;
        margin: 0;
        font-weight: lighter; }
    #tabela-nutricional .modal-dialog .modal-content .modal-body {
      padding: 0; }
      #tabela-nutricional .modal-dialog .modal-content .modal-body table {
        border-collapse: collapse;
        font-size: 12px; }
        #tabela-nutricional .modal-dialog .modal-content .modal-body table thead {
          background-color: #1E1D21;
          color: #fff; }
        #tabela-nutricional .modal-dialog .modal-content .modal-body table th, #tabela-nutricional .modal-dialog .modal-content .modal-body table td {
          padding: 10px 10px;
          border: 1px solid #1E1D21; }
        #tabela-nutricional .modal-dialog .modal-content .modal-body table th {
          border: 1px solid #fff; }
          #tabela-nutricional .modal-dialog .modal-content .modal-body table th:first-child {
            border-left: 1px solid #1E1D21; }
          #tabela-nutricional .modal-dialog .modal-content .modal-body table th:last-child {
            border-right: 1px solid #1E1D21; }
        #tabela-nutricional .modal-dialog .modal-content .modal-body table tbody tr:nth-child(even) {
          background-color: #1E1D21; }
          #tabela-nutricional .modal-dialog .modal-content .modal-body table tbody tr:nth-child(even) td {
            border: 1px solid #fff;
            color: #fff; }
            #tabela-nutricional .modal-dialog .modal-content .modal-body table tbody tr:nth-child(even) td:first-child {
              border-left: 1px solid #1E1D21; }
            #tabela-nutricional .modal-dialog .modal-content .modal-body table tbody tr:nth-child(even) td:last-child {
              border-right: 1px solid #1E1D21; }
        #tabela-nutricional .modal-dialog .modal-content .modal-body table tbody tr:nth-child(odd) {
          background-color: #fff; }
          #tabela-nutricional .modal-dialog .modal-content .modal-body table tbody tr:nth-child(odd) td {
            color: #1E1D21; }
            #tabela-nutricional .modal-dialog .modal-content .modal-body table tbody tr:nth-child(odd) td:first-child {
              border-left: 1px solid #fff; }
            #tabela-nutricional .modal-dialog .modal-content .modal-body table tbody tr:nth-child(odd) td:last-child {
              border-right: 1px solid #fff; }
        #tabela-nutricional .modal-dialog .modal-content .modal-body table tfoot {
          background-color: #fff;
          color: #1E1D21; }
          #tabela-nutricional .modal-dialog .modal-content .modal-body table tfoot td {
            border: none; }
          #tabela-nutricional .modal-dialog .modal-content .modal-body table tfoot .ingredientes h3 {
            font-size: 20px;
            text-align: center;
            display: block;
            margin: 10px 0 20px 0;
            font-weight: bold; }
          #tabela-nutricional .modal-dialog .modal-content .modal-body table tfoot .ingredientes p {
            font-weight: bold;
            margin: 0; }

#termos .modal-dialog, #politica .modal-dialog {
  max-width: 100%;
  margin: 0; }
  #termos .modal-dialog .modal-content .modal-header, #politica .modal-dialog .modal-content .modal-header {
    background-color: #1E1D21; }
    #termos .modal-dialog .modal-content .modal-header img, #politica .modal-dialog .modal-content .modal-header img {
      display: block;
      margin: 0 auto 10px auto; }
    #termos .modal-dialog .modal-content .modal-header button.close, #politica .modal-dialog .modal-content .modal-header button.close {
      position: absolute;
      top: 20px;
      right: 20px;
      opacity: 1; }
      #termos .modal-dialog .modal-content .modal-header button.close span, #politica .modal-dialog .modal-content .modal-header button.close span {
        text-indent: -999999px;
        text-shadow: none;
        width: 16px;
        height: 16px;
        background: url(../img/icon-fechar.svg) center center no-repeat;
        opacity: 1;
        color: transparent;
        display: block;
        overflow: visible;
        position: relative; }
        #termos .modal-dialog .modal-content .modal-header button.close span::before, #politica .modal-dialog .modal-content .modal-header button.close span::before {
          display: none; }
  #termos .modal-dialog .modal-content .modal-body, #politica .modal-dialog .modal-content .modal-body {
    color: #1E1D21; }
    #termos .modal-dialog .modal-content .modal-body h3, #termos .modal-dialog .modal-content .modal-body p, #politica .modal-dialog .modal-content .modal-body h3, #politica .modal-dialog .modal-content .modal-body p {
      font-size: 14px; }
    #termos .modal-dialog .modal-content .modal-body h3, #politica .modal-dialog .modal-content .modal-body h3 {
      font-weight: bolder;
      margin: 5px 0; }
      #termos .modal-dialog .modal-content .modal-body h3:first-child, #politica .modal-dialog .modal-content .modal-body h3:first-child {
        margin: 20px 0; }

.modal-backdrop.show {
  opacity: .83; }

@media (max-width: 320px) {
  #product-carousel {
    margin-top: -90px; }
    #product-carousel .slick-list {
      padding-left: 9.666666666666668% !important; }
    #product-carousel .slick-slide img {
      max-width: calc(100% - 30px); }
    #product-carousel .slick-slide .content {
      max-width: 260px; } }

@media (min-width: 600px) {
  #product-carousel {
    margin-top: 40px;
    overflow: hidden;
    padding-bottom: 35px; }
    #product-carousel .slick-dots {
      bottom: 0px; }
    #product-carousel .slick-list {
      padding-left: 50px; }
    #product-carousel .slick-prev, #product-carousel .slick-next {
      overflow: visible; }
      #product-carousel .slick-prev::before, #product-carousel .slick-next::before {
        display: none; }
    #product-carousel .slick-prev {
      left: 20px; }
      #product-carousel .slick-prev::before {
        display: block;
        position: absolute;
        top: -300px;
        left: -20px;
        width: 100px;
        height: 600px;
        background-image: linear-gradient(to right, #1E1D21, #1E1D2100); }
    #product-carousel .slick-next {
      right: 20px; }
      #product-carousel .slick-next::before {
        display: block;
        position: absolute;
        top: -300px;
        right: -20px;
        width: 100px;
        height: 600px;
        background-image: linear-gradient(to left, #1E1D21, #1E1D2100); }
  #tabela-nutricional .modal-dialog {
    max-width: 550px;
    margin: 20px auto 0px auto; } }

@media (min-width: 1024px) {
  #presentation {
    height: 768px;
    background-image: url(../img/massa-desktop.png);
    background-position-x: right; }
    #presentation #branding {
      display: none; }
    #presentation #branding-desktop {
      display: block; }
    #presentation #disclaimer {
      font-size: 8px;
      top: 50%;
      right: 10px;
      color: #1E1D21; }
  .marketing {
    background: url(../img/shadow-left.png) left -20px no-repeat;
    padding: 50px 0px 0 0px;
    position: relative;
    margin: 0;
    max-width: 100%; }
    .marketing .row::before {
      top: 0px; }
    .marketing .feature.unico {
      margin-bottom: 100px; }
    .marketing .feature.inexplicavel {
      margin-bottom: 150px; }
  footer ul {
    display: block;
    width: 100%;
    float: left;
    clear: both;
    margin: 0 0 0 40px;
    max-height: 100px; }
    footer ul li {
      display: block;
      float: left;
      padding: 10px 0 0 0;
      margin-right: 60px;
      position: relative; }
      footer ul li.logo {
        margin-right: 20px;
        padding-top: 0px; }
      footer ul li a, footer ul li button {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        display: block; }
  footer img {
    display: block;
    margin: 0 auto; }
  footer .copyright {
    display: block;
    width: 100%;
    float: left;
    clear: both;
    text-align: center; } }
